        <!-- Secção Contactos -->
        <section id="contactos">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Contactos</h2><br>
                    </div>  
                </div>
                <div class="row">
                    <div class="col-sm-6 text-center">
               	        <h3>Marcações</h3><br><br>
               	        <p class="large-muted">Marcação de consultas por telefone ou no local.</p>
               	        <p class="large-muted">2ª a 5ª feira entre as 15h00 e as 19h00</p><br>
                    </div>
                    <div class="col-sm-6 text-center">
                        <h3>Morada</h3><br><br>
                        <p class="large-muted">Rua de Cedofeita, Nº 472<br>4050-175 Porto</p>
                    </div>
                </div>     
                <hr>
                <br>
                <div class="row">
                    <div class="col-sm-6 text-center">
                        <p class="large-muted"><strong>Drª Teresa e Drª Marta Aguilar</strong><br>222 087 878 * / 966 765 410 **</p>
                    </div>
                    <div class="col-sm-6 text-center">
                        <p class="large-muted" style="font-size:20px"><strong>Dr António Pecegueiro</strong><br>223 325 105 *</p>
             	    </div>
                </div>
                <br>
                <div class="row">
                    <p class="text-center"><small>* Chamada para a rede fixa nacional</small>/p>
                    <p class="text-center"><small>** Chamada para rede móvel nacional</small></p>
                </div>
            </div>
        </section>
