        <!-- Secção Convenções -->
        <section id="convencoes" class="bg-light-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Convenções</h2>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12 col-sm-12 text-center">
                        <br><h3>Drª Teresa Aguilar</h3>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6" style="padding-bottom:20px;">
                        <a href="#">
                            <img src="img/logos/savida.png" class="img-responsive img-centered logo" alt="">
                        </a>
                    </div>
                    <div class="col-md-6 col-sm-6" style="padding-bottom:20px;">
                        <a href="#">
                            <img src="img/logos/cgd.png" class="img-responsive img-centered logo" alt="">
                        </a>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-md-12 col-sm-12 text-center">
                        <br><h3>Dr António Pecegueiro</h3>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6" style="padding-bottom:20px;">
                        <a href="#">
                            <img src="img/logos/savida.png" class="img-responsive img-centered logo" alt="">
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-6" style="padding-bottom:20px;">
                        <a href="#">
                            <img src="img/logos/pt-acs.png" class="img-responsive img-centered logo" alt="">
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-6" style="padding-bottom:20px;">
                        <a href="#">
                            <img src="img/logos/ctt-medis.png" class="img-responsive img-centered logo" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </section>