        <!-- Secção Especialistas -->
        <section id="especialistas" class="bg-light-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Os Especialistas</h2>
					   <br>
                    </div><br>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p style="font-size:20px; text-align:center;">
                            O trabalho em equipa permite fazer a orientação adequada para psicologia e/ou psiquiatria, colmatando esta dúvida habitual dos clientes.
                        </p>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="team-member">
                            <img src="img/team/1.jpg" class="img-responsive img-circle" alt="">
                            <h4>Dr António Maurício Pecegueiro</h4>
                            <p class="text-muted">Psiquiatra</p><br><br>
                            <p class="large text-muted">
                                Licenciado em Medicina pela Faculdade de Medicina da Universidade do Porto. Assistente Hospitalar Graduado aposentado.
                                Especialista de Psiquiatria pela Ordem dos Médicos.
                            </p>
                        </div>
                    </div>
				    <div class="col-sm-4">
                        <div class="team-member">
                            <img src="img/team/2.jpg" class="img-responsive img-circle" alt="">
                            <h4>Drª Teresa Aguilar</h4>
                            <p class="text-muted">Psiquiatra</p><br><br>
                            <p class="large text-muted">
                                Licenciada em Medicina pela Faculdade de Medicina da Universidade do Porto é especialista em Psiquiatria há mais de 25 anos,
                                com prática quer hospitalar quer privada.
                            </p>
                        </div>
                    </div>
				    <div class="col-sm-4">
                        <div class="team-member">
                            <img src="img/team/3.jpg" class="img-responsive img-circle" alt="">
                            <h4>Drª Marta Aguilar</h4>
                            <p class="text-muted">Psicóloga</p><br><br>
                            <p class="large text-muted">
                                Licenciada em Psicologia e com pré-especialização em Psicologia e Saúde na Faculdade de Psicologia e de Ciências da Educação
                                da Universidade do Porto, desde 2007.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
