        <!-- Secção Psicologia --> 
        <section id="psicologia">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Psicologia</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                    <hr>
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <h4>Acompanhamento e Intervenção Psicológica</h4>
                            </div>
                        </div><hr><br>
                        <div class="col-lg-6 text-center offers">
                            <h4>Relaxamento</h4><br>
  		                    <h4>Gestão de ansiedade e stress</h4><br>
                            <h4>Expressão emocional</h4><br>
  		                    <h4>Gestão de conflitos</h4><br>
                            <h4>Terapia de apoio</h4><br>
                        </div>
                        <div class="col-lg-6 text-center offers">
                            <h4>Ajustamento à doença</h4><br>
                            <h4>Alteração de comportamentos</h4><br>
                            <h4>Treino de competências</h4><br>
			            </div> 
                        <br>
                    </div>
                    <div class="col-lg-6">
                        <hr>
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <h4>Avaliação Psicológica</h4>
                            </div>
                        </div><hr><br>
                        <div class="col-lg-6 text-center offers">
                            <h4>Orientação vocacional</h4><br>
                            <h4>Avaliação do estado emocional</h4><br>	
  		                </div>
                        <div class="col-lg-6 text-center offers">
                            <h4>Perícias forenses</h4><br>
                            <h4>Avaliação neurocognitiva e funcional</h4><br>
				        </div>   
                    </div>           
                </div>
            </div>
        </section>
