        <!-- Secção Serviços --> 
        <section id="psiquiatria">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Psiquiatria</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <div class="row">
                            <hr>
                            <div class="col-lg-12 text-center">
                            <h4>Tratamento Médico e Acompanhamento Psiquiátrico</h4>
                        </div>
                    </div><hr><br>
                    <div class="col-lg-6 col-md-6 text-center offers">
                        <h4>Ansiedade</h4><br>
                        <h4>Pânico</h4><br>
                        <h4>Fobia</h4><br>
                        <h4>Perturbação Obsessiva Compulsiva</h4><br>
  		            </div>
                    <div class="col-lg-6 col-md-6 text-center offers">
                        <h4>Depressão</h4><br>
                        <h4>Doença Bipolar</h4><br>
                        <h4>Demência/D. Alzheimer</h4><br>
                        <h4>Esquizofrenia</h4><br>
                        <h4>Outras Patologias</h4><br>
			        </div>      
                </div>
                <div class="col-lg-3"></div>
            </div>
        </section>
