        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand page-scroll" href="#page-top">Clínica Psi-Cedofeita</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden"><a href="#page-top"></a></li>
                        <li><a class="page-scroll" href="#clinica">Clínica</a></li>
                        <li><a class="page-scroll" href="#especialistas">Especialistas</a></li>
                        <li><a class="page-scroll" href="#psiquiatria">Psiquiatria</a></li>
                        <li><a class="page-scroll" href="#psicologia">Psicologia</a></li>
                        <li><a class="page-scroll" href="#convencoes">Convenções</a></li>
                        <li><a class="page-scroll" href="#contactos">Contactos</a></li>		
                    </ul>
                </div>
            </div>
        </nav>